<%- include('../../shared/includes/head', { pageTitle: 'New Product' }) %>
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
  <h1>Add New Product</h1>
  <%- include('includes/product-form', { submitPath: '/admin/products', imageRequired: true, product: {
    title: '',
    summary: '',
    description: '',
    price: ''
  } }) %>
</main>
<%- include('../../shared/includes/footer') %>
