<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
<link rel="stylesheet" href="/styles/orders.css">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
  <h1>Order Approved!</h1>
  <p>You can check your order <a href="/orders">here</a>.</p>
</main>
<%- include('../../shared/includes/footer') %>
